In [1]:
text = " my telephone number is 888-758-452-1234"

In [2]:
pattern = r'\d{3}-\d{3}-\d{3}-\d{4}'

In [3]:
import re

mymatch = re.search(pattern, text)

In [4]:
mymatch

In [6]:
mymatch.group()

'888-758-452-1234'

In [7]:
pattern = r'(\d{3})-(\d{3})-(\d{3})-(\d{4})'

In [8]:
mymatch = re.search(pattern, text)

In [13]:
print(mymatch.group(1))
print(mymatch.group(2))
print(mymatch.group(3))

888
758
452

In [18]:
re.search(r'man|woman',"there is a woman").group()

'woman'

In [19]:
re.search(r'man|woman',"there is a man").group()

'man'

In [20]:
re.findall(r'.at', 'the cat in the hat sat')

['cat', 'hat', 'sat']

In [23]:
re.findall(r'..at', 'the tcat in the phat gsat and splat')

['tcat', 'phat', 'gsat', 'plat']

In [24]:
re.findall(r'...at', 'the twcat in the pwhat gwsat and swplat')

['twcat', 'pwhat', 'gwsat', 'wplat']

In [28]:
re.findall(r"\d$","this ends with a number two2" )

['2']

In [32]:
re.findall(r"^\d","100 this ends with a number two2")

['1']

In [37]:
pharase = "3 numbers 34 inside 5 sentence"

In [38]:
re.findall(r"[^\d]", pharase)

[' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'n',
 'c',
 'e']

In [39]:
re.findall(r"[^\d]+", pharase)

[' numbers ', ' inside ', ' sentence']

In [42]:
test_pharase = "This is a string! but it has punctuation.How toremove it?"

In [43]:
myList = re.findall(r"[^!.?]+", test_pharase)

In [45]:
myList

['This is a string', ' but it has punctuation', 'How toremove it']

In [46]:
' '.join(myList)

'This is a string  but it has punctuation How toremove it'

In [47]:
text = "only find the hyphen-words. Were are the long-ish dash words"

In [49]:
re.findall(r"[\w]+-[\w]+", text)

['hyphen-words', 'long-ish']

In [50]:
#assessment